@charset "UTF-8";

* {
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url(../img/chk_back_img.jpg) no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

h2 {
    padding: 50px 0 70px 0;
}

fieldset {
    margin-top: -70px;
    border: none;
}

input[type="submit"] {
    color: #ffffff;
    background-color: #00000000;
    border: solid 1px #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"] {
    color: #ffffff;
    background-color: #00000000;
    border: solid 1px #ffffff;
    cursor: pointer;
    border-radius: 5px;
}