body{
    background-color: #000;
    height: 100vh;
    background: url("../img/index.jpg") no-repeat center;
    background-size: cover;
}

div.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input {
    background-color: #00000000;
    color: #ffffff;
    border: solid 3px #ffffff;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    transition: 0.5s;
    font-size: 23px;
    font-family: 'Do Hyeon', sans-serif;
}

input:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    font-size: 24px;
}

li:last-child {
    text-align: center;
    margin-top: 30px;
}