div.Content{
	padding-top: 50px;
    margin: 20px auto;
    background-color: white;
    width: 1300px;
    height: 900px;
    display: flex;
    justify-content: center;
}
div.main_con {
    width: 1100px;
}
div.main_con h2 {
	margin-left: 20px;
}
table a {
    color: #727272;
    text-decoration: none;
}
table a:hover {
	text-decoration: underline;
}
td{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 13px;
	width: 400px;
	height: 350px;
}
iframe{
	border-radius: 10%;
	border: solid 1px #dddddd;
}
div.mania_list {
	margin: 20px auto;
    background-color: white;
    width: 1300px;
    height: 50px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}
ul.mania_list a {
    color: #717171;
    text-decoration: none;
    font-weight: bold;
}
ul.mania_list a:hover {
    color: #000000;
}
ul.mania_list {
	list-style-type: none;
}
ul.mania_list > li{
	float: left;
	padding: 10px;
	margin-left: 60px;
}
ul.mania_list > li:first-child {
    margin: 0;
}
p{
	padding-top: 10px;
}
span#title{
}